

.MuiButton-root.my-links {
    font-family: 'Tektur';
    font-weight: 'bold';
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    
}

.MuiButton-root.second-last-page {
    font-family: 'Tektur';
    font-weight: 'bold';
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.MuiButton-root.last-page {
    font-family: 'Tektur';
    font-weight: 'bold';
    font-size: 1.5rem;
    cursor: pointer;
    color: #683979;
    /* display: inline-block; */
    padding: 2px 15px;
    background-color: #AEA5D4;
    border-radius: 15px;
    margin-left: 2%;
}

.MuiAppBar-root .logo {
    transition:  transform 0.3s ease;
    transition: text-shadow 0.3s ease;
}

.MuiAppBar-root .logo:hover {
    transform: scale(1.15); 

    /* text-shadow: 0px 0px 40px rgba(185, 114, 187, 1), 0px 0px 50px rgba(185, 114, 187, 1);   */
}

@media (max-width: 600px) {
    .MuiAppBar-root .logo {
        margin-right: 20%;
    }
}